force-app/main/default/flows/TestFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AddOrInsertRecord</name>
        <label>AddOrInsertRecord</label>
        <locationX>429</locationX>
        <locationY>51</locationY>
        <actionName>AddOrInsertRecord</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>inputRecord</name>
            <value>
                <elementReference>new_record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>index</name>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>copy_collection</name>
        <label>copy_collection</label>
        <locationX>283</locationX>
        <locationY>304</locationY>
        <actionName>CopyCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Filter_Collection</name>
        <label>Filter Collection</label>
        <locationX>522</locationX>
        <locationY>208</locationY>
        <actionName>FilterCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>formula</name>
            <value>
                <elementReference>result_formula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Generate_Report</name>
        <label>Generate Report</label>
        <locationX>149</locationX>
        <locationY>464</locationY>
        <actionName>GenerateCollectionReport</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Show_Report</targetReference>
        </connector>
        <inputParameters>
            <name>shownFields</name>
            <value>
                <stringValue>Rating, Industry</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>output_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>result_report</assignToReference>
            <name>reportString</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Join_Collections</name>
        <label>Join Collections</label>
        <locationX>513</locationX>
        <locationY>813</locationY>
        <actionName>JoinCollections</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection2</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>map_collection</name>
        <label>map_collection</label>
        <locationX>288</locationX>
        <locationY>428</locationY>
        <actionName>MapCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Generate_Report</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>keyValuePairs</name>
            <value>
                <stringValue>&quot;rating&quot;:&quot;Hot&quot;,&quot;Industry&quot;:&quot;Banking&quot;,&quot;Name&quot;:&quot;SomeName&quot;</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Remove_Record</name>
        <label>Remove Record</label>
        <locationX>210</locationX>
        <locationY>703</locationY>
        <actionName>RemoveRecordInCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sort_Collection</name>
        <label>Sort Collection</label>
        <locationX>527</locationX>
        <locationY>472</locationY>
        <actionName>SortCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>input_collection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sortKeys</name>
            <value>
                <elementReference>sort_keys</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>output_collection</assignToReference>
            <name>outputCollection</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Add_Account</name>
        <label>Add Account</label>
        <locationX>858</locationX>
        <locationY>305</locationY>
        <assignmentItems>
            <assignToReference>filterred_record_names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_filterred_accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_input_values</name>
        <label>Assign input values</label>
        <locationX>869</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>input_names</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>curInputRecord.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_input_values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Name</name>
        <label>Set Record Name</label>
        <locationX>301</locationX>
        <locationY>52</locationY>
        <assignmentItems>
            <assignToReference>new_record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This Is New Record</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOrInsertRecord</targetReference>
        </connector>
    </assignments>
    <interviewLabel>TestFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlow</label>
    <loops>
        <name>Iterate_over_input_values</name>
        <label>Iterate over input values</label>
        <locationX>672</locationX>
        <locationY>489</locationY>
        <assignNextValueToReference>curInputRecord</assignNextValueToReference>
        <collectionReference>input_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_input_values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>display_result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_filterred_accounts</name>
        <label>Loop through filterred accounts</label>
        <locationX>670</locationX>
        <locationY>305</locationY>
        <assignNextValueToReference>curRecord</assignNextValueToReference>
        <collectionReference>output_collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Iterate_over_input_values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>171</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Set_Record_Name</targetReference>
        </connector>
        <inputReference>new_record</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>171</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>map_collection</targetReference>
        </connector>
        <object>Account</object>
        <outputReference>input_collection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AccountNumber</queriedFields>
        <queriedFields>NumberOfEmployees</queriedFields>
    </recordLookups>
    <screens>
        <name>display_result</name>
        <label>display_result</label>
        <locationX>669</locationX>
        <locationY>665</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_filterred_record_names</name>
            <fieldText>&lt;p&gt;Input values: {!input_names}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Output values: {!filterred_record_names}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_Report</name>
        <label>Show Report</label>
        <locationX>135</locationX>
        <locationY>591</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>show_result_report</name>
            <fieldText>&lt;p&gt;{!result_report}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>sort_collection_screen</name>
        <label>sort_collection_screen</label>
        <locationX>280</locationX>
        <locationY>549</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sort_Collection</targetReference>
        </connector>
        <fields>
            <name>sort_collection_lwc</name>
            <extensionName>c:sortCollection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>contextRecordObjectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>sortKeys</name>
                <value>
                    <elementReference>sort_keys</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>sort_keys</assignToReference>
                <name>sortKeys</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Get_Accounts</startElementReference>
    <status>Draft</status>
    <variables>
        <name>curInputRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>curRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>filterred_record_names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>input_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>input_names</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>new_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>output_collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>result_formula</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>AND($Account.IsDeleted != BOOLEAN(&quot;false&quot;), CONTAINS($Account.Name, TEXT(&quot;Test&quot;)))</stringValue>
        </value>
    </variables>
    <variables>
        <name>result_report</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>sort_keys</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
